@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body {
  font-family: Inter, Helvetica, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.desktop-nav,
.modal-desktop-name-button,
.hide,
.desktop-modal-skill {
  display: none;
 
}
@media only screen and (max-width: 768px) {
  .desktop-modal-description {
    display: none;
  }
}
#navbar {
  overflow: hidden;

}
/* .sticky {
  position: fixed;
  top: 0;
  width: 100%;
} */

.welcome {
  text-decoration: none;
  color: #28352f;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
}

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 54px 38px 0 24px;
}

.hamburger div {
  width: 30px;
  height: 3px;
  cursor: pointer;
  background-color: #28352f;
  margin: 6px 0;
  transition: 0.4s;
}

.is-active .bar-1 {
  transform: rotate(-45deg) translate(-5px, 5px);
  position: fixed;
}

.is-active .bar-2 {
  opacity: 0;
}

.is-active .bar-3 {
  transform: rotate(45deg) translate(-6px, -6px);
  position: fixed;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: white;
  padding-top: 106px;
  transition: 0.4s;
}

.flex-item {
  transition-duration: 0.5s;
}

.flex-item:hover {
  transform: scale(2);
}

.is-active .mobile-menu {
  left: 0;

  /* mix-blend-mode: normal; */
  top: 0;
  opacity: 87%;
}

.mobile-menu .mobile-nav-list .text-color-mobile {
  display: block;
  margin: 0 96px 40px 16px;
  text-decoration: none;
  font-size: 30px;
  font-weight: 500;
  line-height: 44px;
  color: #3a4a42;
  background-color: white;
  width: 100%;
}

.display-flex {
  display: flex;
}

.intro {
  /* background-image: url(images/background.png); */
  flex-direction: column;
  text-align: center;
  background-size: 100% 100%;
  padding: 0;
}

.first-name {
  font-weight: 700;
  font-size: 40px;
   color: #000000f8;
}

.software-dev {
  color: #9b1fe8;
}

.social {
  justify-content: center;
  align-items: center;
  margin-bottom: 32px;
  list-style-type: none;
  color: #505f79;
  padding: 0;
  gap: 18px;
}

.intro .intro-message .paragraph {
  font-size: 20px;
  margin: 0 24px;
  color: #172b4d;
  
  font-weight: 400;
  line-height: 28px;
}

/* .down-arrow {
  width: 40px;
  height: 40px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 32px;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 250px;
} */

ul {
  list-style-type: none;
}

/* Recent Work Session */
.container-recent {
  display: grid;
  padding: 0;
  margin: 0 32px;
   color: #000000f8;
}

.container-recent > .grid-project {
  place-items: center;
  border-radius: 10px;
  margin: 20px;
  flex-direction: column;
  text-align: center;
  font-weight: 400;
  line-height: 32px;
  overflow: hidden; 
  border: 1px solid  #9b1fe8
}

/* .grid-project {
  border: 1px solid #c184ff;  
  border-radius: 10px;
  overflow: hidden;           
  margin: 20px;
  background: #fff;
} */

.project-image {
  width: 100%;
  height: 500px;             /* apni marzi se height set kar lo */
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;          /* image crop hogi but fit rahegi */
  display: block;
}
@media (max-width: 768px) {
  /* .container-recent {
    display: grid;
    grid-template-columns: 1fr;  
    gap: 20px;
    height: auto;               
  } */

  .project-image {
    height: 495px; /* chhoti screen pe thodi kam */
  }
}





.grid-frame-skill > .grid-child-frame-skill {
  background-color: #c1c7d0;
  border-radius: 8px;
  text-align: center;
  padding-top: 40px;
  margin: 24px;
}

.container-recent > .grid-project,
.grid-frame-skill > .grid-child-frame-skill {
  transition-duration: 1.5s;
}

.container-recent > .grid-project:hover,
.grid-frame-skill > .grid-child-frame-skill:hover {
  transform: scale(1.05);
}






/* .project-image {
  border-radius: 12px;
  height: 250px;
  width: auto;
  background-size: 100% 100%;
} */

.multi-post {
  background-color: white;
  border-radius: 12px;
  padding: 0;
  margin: 0;
}

.multi-text-color {
  font-weight: 600;
  font-size: 24px;
  color: #3a4a42;
}

.see-project,
.get-in-touch,
.see-btn {
  background-color: #9b1fe8;
  padding: 25px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  margin-bottom: 24px;
  border: none;
  font-weight: bold;
  line-height: 24px;
  line-height: 0.03em;
  transition-duration: 0.2s;
}

.get-resume a {
  color: white;
}

.see-project:hover,
.get-in-touch:hover,
.see-btn:hover {
  background-color: #9b1fe8;
  cursor: pointer;
  transform: scale(1.2);
  border: none;
}

.see-project:focus-visible,
.get-in-touch:focus-visible,
.see-btn:focus-visible {
  background-color: #050505;
  transform: scale(0.9);
}

.language {
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
  margin: 41px 0;
}

/* modal css begins */
.close {
  cursor: pointer;
  float: right;
  padding-top: 32px;
  margin-right: 30px;
}

.modal-container {
  overflow-y: auto;

  /* height: 100vh; */
  margin: 0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  transition: 0.4s;
  padding: 16px;
}

.mobile-modal {
  height: 50%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.modal-container .mobile-modal-skill {
  align-items: flex-start;
  padding-left: 0;
  gap: 8px;
}

.mobile-modal-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.mobile-modal-btn {
  justify-content: space-between;
}

.language-background {
  padding: 8px;
  background-color: #ebf0ee;
  border-radius: 4px;
  color: #3a4a42;
  font-size: 12px;
}

.recent-work-align {
  font-weight: 700;
  font-size: 35px;
  text-align: center;
  color: #172b4d;
  line-height: 52px;
}

.dash-flex {
  color: #000000;
  justify-content: center;
  margin-bottom: 62px;
}

.dash {
  font-size: 40px;
}

.dash:hover {
  color: #1e488f;
}

.about-container {
  text-align: center;
  
  background-repeat: no-repeat;
  background-position: 0 96%;
}

.about-container .about-me {
  /* background-image: url(./images/about-me-background-image-mobile.svg); */
  /* background-repeat: no-repeat;
  background-position: 100% -18px; */
  /* background-size: contain; */
  padding: 12px 0;
  /* line-height: 52px; */
 color: #000000f8;
  font-weight: 600;
  font-size: 26px;

}

.about-container .about-background-desktop-image-2 .about-message {
  font-size: 20px;
  text-align: center;
  color: #42526e;
  padding: 0 24px;
  margin-top: 0;
  font-weight: 400;
  line-height: 32px;
  margin-top: -2.7%;
}

.grid-frame-skill {
  display: grid;
  padding: 0 52px;
  margin-bottom: 0;
}

.frame-skill-background {
  background-color: white;
  border-radius: 4px;
  padding: 12px;
  color: #36b37e;
  font-size: 12px;
}

.skill-flex {
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 72px;
}

.skills-pack {
  border-radius: 50%;
  background-color: white;
  padding: 16px;
}

.skills-pack-font {
  text-align: center;
  color: #344563;
  font-size: 24px;
  font-weight: 600;
  padding: 0;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

#error-msg {
  color: red;
}

.footer {
  background-image: url(./images/footer-bg.png);
  background-repeat: no-repeat;
  background-position: 100% 820px;
  padding: 18px 24px 290px;
  text-align: center;
}

.footer .footer-headline {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  /* color: #172b4d; */
   color: #000000f8;
  margin-bottom: 58px;
}

.footer .form {
  flex-direction: column;
  margin-bottom: 24px;
}

.footer .footer-input {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #091e42;
  background: white;
  border: 1px solid #d0d9d4;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 15px 16px;
  margin-bottom: 24px;
  outline: none;
}

.footer .footer-input:focus-visible {
  border: 1px solid #60c095;
}

.footer .footer-input::placeholder {
  color: #6b778c;
}

.footer .footer-button {
  align-self: center;
  margin-bottom: 0;
}

.footer .social {
  margin-bottom: 20px;
}

.footer .footer-link {
  font-style: normal;
  font-weight: 800;
  font-size: 100px;
  line-height: 100px;
  text-align: center;
  text-decoration: none;
  color: #42526e;
}

/* Desktop Version */

@media only screen and (min-width: 768px) {
  .break,
  .top-header,
  .footer-link,
  .dash-flex,
  .mobile-menu-header,
  .mobile-modal,
  .mobile-modal-skill,
  .mobile-modal-title,
  .mobile-modal-description,
  .mobile-modal-btn {
    display: none;
    margin-bottom: 0;
  }

  /* .header-background {
    background-image: url(./images/background-image.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
  } */

  .intro {
    background-image: none;
    padding: 100px 0 0 0;
    margin-top: -5%;
  }

  .intro .intro-message .paragraph {
    padding: 0 200px;
    font-size: 20px;
    color: #172b4d;
    margin-top: -1.5%;
  }

  @keyframes slide-in {
    100% {
      transform: translateX(0%);
    }
  }
  .desktop-nav {
    display: flex;
    justify-content: center;
  gap:170px;
    /* justify-content: space-evenly; */
    margin: 25px 0;
    font-size: 18px;
    font-weight: normal;
  }

  /* .desktop-nav-list {
    margin-right: 24px;
    transition-duration: 0.2s;
  } */

  .desktop-nav-list:hover {
    transform: scale(1.5);
    color: #9b1fe8;
  }

  .text-color {
    color: #000000f8;
    font-weight: medium;
    transition: color linear 0.5s;
  }
  .txtportfolio{
    color: #9b1fe8;

  }

  .text-color:hover {
    color: #9b1fe8;
  }

  a:link {
    text-decoration: none;
  }

  .recent-work-align {
    color: #000000f8;
    animation: slide-in 0.5s forwards; 
    /* transform: translateX(-100%); */
  }

  .container-recent {
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    padding: 0 16px;
    height: 1600px;
  }

  .container-recent .language {
    justify-content: center;
    padding: 0;
  }

  /* modal desktop */

  .close {
    display: block;
    margin-top: -28px;
    padding-left: 0;
    padding-top: 0;
  }

  .desktop-modal-skill {
    display: flex;
    padding-left: 0;
    gap: 8px;
  }
























  

  .desktop-modal-item {
    padding: 8px;
    background-color: #ebf0ee;
    border-radius: 4px;
    color: #3a4a42;
    font-size: 12px;
  }

  .desktop-modal-background {
    height: 2250%;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .modal-container {
    padding: 78px 24px 0 24px;
  }

  .modal-desktop-name-button {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  .about-container .about-me {
    background-image: none;
  }

  .desktop-modal-btn {
    margin-right: 12px;
  }

  .about-container .about-me-background-image-1 {

    background-repeat: no-repeat;
    background-position: 100% -18px;
  }

  .about-container {
    padding-left: 0;
  }

  .about-container .about-background-desktop-image-2 .about-message {
    padding: 0 220px;
  }

  .grid-frame-skill {
    grid-template-columns: auto auto;
    margin: 0;
  }

  .grid-frame-skill .grid-child-frame-skill .skill-flex {
    padding-left: 11px;
    padding-right: 11px;
  }

  .footer {
    background-image: none;
    padding: 0;
    margin: 0;
  }

  .footer .desktop-flex {
    display: flex;
    padding: 0 142px 143px;
    column-gap: 24px;
    align-items: center;
  }

  .footer .footer-headline {
    font-size: 30px;
    text-align: left;
    margin-right: 0;
    padding-right: 0;
  }

  .footer .desktop-flex .form {
    margin-bottom: 0;
    margin-top: 60px;
  }

  /* .footer .footer-background-image-1 {
    background-image: url(./images/contact-form-desktop-background-image-1.svg);
    background-repeat: no-repeat;
    background-position: 0 70%;
    padding-left: 0;
    margin-right: 0;
  }

  .footer .footer-background-image-2 {
    background-image: url(./images/contact-form-desktop-background-image-2.svg);
    background-repeat: no-repeat;
    background-position: 20%;
  }

  .footer .footer-background-image-3 {
    background-image: url(./images/contact-form-desktop-background-image-3.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: contain;
    margin: 0;
    padding: 0;
    height: 200px;
  } */

  .footer .footer-input {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #6b778c;
    box-sizing: border-box;
  }

  .footer .footer-button {
    align-self: flex-start;
  }

  .footer .social {
    justify-content: center;
  }

  .footer .horizontal-line {
    height: 1px;
    border-width: 0;
    color: #dfe1e6;
    background-color: #dfe1e6;
    margin-top: 20px;
  }

  .footer .social .flex-item:nth-of-type(1) {
    order: 4;
  }

  .footer .social .flex-item:nth-of-type(2) {
    order: 2;
  }

  .footer .social .flex-item:nth-of-type(3) {
    order: 5;
  }

  .footer .social .flex-item:nth-of-type(4) {
    order: 1;
  }

  .footer .social .flex-item:nth-of-type(5) {
    order: 3;
  }
}

/* my skills services section */

:root {
  --bg-color: #fdfdfd;
  --text-color:  #172b4d;
  --main-color: #9b1fe8;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

/* .dark-mode {
  --bg-color: #0b061f;
  --text-color: #fdfdfd;
  --main-color: #754ef9;
  --shadow-color: rgba(0, 0, 0, 0.7);
} */

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-size: 1.6rem;
}


.btn {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  color: var(--white-color);
  font-size: 1.6rem;
  font-weight: 600;
  border-radius: 0.6rem;
  /* box-shadow: 0 0.2rem 0.5rem var(--shadow-color); */
  letter-spacing: 0.1rem;
  transition: 0.5s ease;
  border: 0.2rem solid transparent;
}

/* .btn:hover {
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
} */

.home .profession-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 768px;
  height: 768px;
  overflow: hidden;
  pointer-events: none;
}

.home .profession-container .profession-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 768px;
  height: 768px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: professionRotate 13s ease-out infinite;
}

@keyframes professionRotate {
  0%,
  20% {
    transform: rotate(0deg);
  }
  25%,
  45% {
    transform: rotate(-90deg);
  }
  50%,
  70% {
    transform: rotate(-180deg);
  }
  75%,
  95% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.home .profession-box .profession {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--main-color);
  transform: rotate(calc(360deg / 4 * var(--i)));
  transform-origin: 384px;
  background: var(--bg-color);
  padding: 13px;
}

.home .profession-box .profession:nth-child(1) i {
  margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4) {
  padding-bottom: 20px;
}

.home .profession i {
  font-size: 3.8rem;
}

.home .profession h3 {
  font-size: 3.2rem;
  font-weight: 600;
  line-height: 1;
}

.home .profession-box .circle {
  width: 560px;
  height: 560px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
}

.home .profession-container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 384px solid var(--main-color);
  border-right: 384px solid var(--main-color);
  border-bottom: 374px solid var(--main-color);
  border-left: 384px solid transparent;
}


span {
  color: var(--main-color);
}

.multiple-text {
  color: var(--text-color);
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}


.heading {
  font-size: 4.5rem;
  text-align: center;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.hidden {
  display: none;
}

.more-text {
  color: inherit;
}

.services {
  min-height: auto;
  padding-bottom: 7rem;
  margin-left: 3rem;
   margin-right: 3rem;
   /* font-family: 700; */
}

.services h2 {
  margin-bottom: 5rem;
   color: #000000f8;
}

.services .services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--bg-color);
  padding: 3rem 2rem 8rem;
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
  text-align: center;
  border-top: 0.6rem solid var(--main-color);
  border-bottom: 0.6rem solid var(--main-color);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  box-shadow: 0 0.1rem 2rem var(--shadow-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 2.6rem;
  transition: 0.5s ease;
}

.services-box:hover h3 {
  color: var(--main-color);
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}







/* BREAKPOINTS */


@media (max-width: 1024px) {


  section {
    padding: 10rem 3% 2rem;
  }

}

@media (max-width: 991px) {
 


  .services{
    padding-bottom: 7rem;
  }

 
}

@media (max-width: 768px) {

 
 
  .services h2 {
    margin-bottom: 3rem;
  }

}


